# Step 1 Data Exploration

In [ ]:
#importing dependencies

import pandas as pd

In [194]:
print(pd.__version__)

2.2.3

In [195]:
df = pd.read_csv(r"C:\Users\asyra\OneDrive\Desktop\Data Analyst\Walmart\Walmart.csv",encoding_errors='ignore')

In [196]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [197]:
df.describe()

         invoice_id      quantity        rating  profit_margin
count  10051.000000  10020.000000  10051.000000   10051.000000
mean    5025.741220      2.353493      5.825659       0.393791
std     2901.174372      1.602658      1.763991       0.090669
min        1.000000      1.000000      3.000000       0.180000
25%     2513.500000      1.000000      4.000000       0.330000
50%     5026.000000      2.000000      6.000000       0.330000
75%     7538.500000      3.000000      7.000000       0.480000
max    10000.000000     10.000000     10.000000       0.570000

In [198]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10051 non-null  int64
 1   Branch          10051 non-null  object
 2   City            10051 non-null  object
 3   category        10051 non-null  object
 4   unit_price      10020 non-null  object
 5   quantity        10020 non-null  float64
 6   date            10051 non-null  object
 7   time            10051 non-null  object
 8   payment_method  10051 non-null  object
 9   rating          10051 non-null  float64
 10  profit_margin   10051 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 863.9+ KB

In [199]:
#all duplicates
df.duplicated().sum()

np.int64(51)

In [200]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()

np.int64(0)

In [201]:
df.shape

(10000, 11)

In [202]:
df.isnull().sum()

invoice_id         0
Branch             0
City               0
category           0
unit_price        31
quantity          31
date               0
time               0
payment_method     0
rating             0
profit_margin      0
dtype: int64

In [203]:
# dropping all rows with missing records
df.dropna(inplace=True)

In [204]:
df.isnull().sum()

invoice_id        0
Branch            0
City              0
category          0
unit_price        0
quantity          0
date              0
time              0
payment_method    0
rating            0
profit_margin     0
dtype: int64

In [205]:
df.shape

(9969, 11)

In [206]:
df.dtypes

invoice_id          int64
Branch             object
City               object
category           object
unit_price         object
quantity          float64
date               object
time               object
payment_method     object
rating            float64
profit_margin     float64
dtype: object

In [207]:
df['unit_price']=df['unit_price'].str.replace('$', '').astype(float)

In [208]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [209]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9969 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      9969 non-null   int64
 1   Branch          9969 non-null   object
 2   City            9969 non-null   object
 3   category        9969 non-null   object
 4   unit_price      9969 non-null   float64
 5   quantity        9969 non-null   float64
 6   date            9969 non-null   object
 7   time            9969 non-null   object
 8   payment_method  9969 non-null   object
 9   rating          9969 non-null   float64
 10  profit_margin   9969 non-null   float64
dtypes: float64(4), int64(1), object(6)
memory usage: 934.6+ KB

In [210]:
df.columns

Index(['invoice_id', 'Branch', 'City', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin'],
      dtype='object')

In [211]:
df['total']= df['unit_price'] * df['quantity']

In [212]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,total
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48,604.17

In [213]:
df.to_csv('walmart_clean_data.csv', index=False)

In [ ]:
help(create_engine)

Help on function create_engine in module sqlalchemy.engine.create:

create_engine(url: 'Union[str, _url.URL]', **kwargs: 'Any') -> 'Engine'
    Create a new :class:`_engine.Engine` instance.

    The standard calling form is to send the :ref:`URL <database_urls>` as the
    first positional argument, usually a string
    that indicates database dialect and connection arguments::

        engine = create_engine("postgresql+psycopg2://scott:tiger@localhost/test")

    .. note::

        Please review :ref:`database_urls` for general guidelines in composing
        URL strings.  In particular, special characters, such as those often
        part of passwords, must be URL encoded to be properly parsed.

    Additional keyword arguments may then follow it which
    establish various options on the resulting :class:`_engine.Engine`
    and its underlying :class:`.Dialect` and :class:`_pool.Pool`
    constructs::

        engine = create_engine(
            "mysql+mysqldb://scott:tiger@hostname/dbname",
            pool_recycle=3600,
            echo=True,
        )

    The string form of the URL is
    ``dialect[+driver]://user:password@host/dbname[?key=value..]``, where
    ``dialect`` is a database name such as ``mysql``, ``oracle``,
    ``postgresql``, etc., and ``driver`` the name of a DBAPI, such as
    ``psycopg2``, ``pyodbc``, ``cx_oracle``, etc.  Alternatively,
    the URL can be an instance of :class:`~sqlalchemy.engine.url.URL`.

    ``**kwargs`` takes a wide variety of options which are routed
    towards their appropriate components.  Arguments may be specific to
    the :class:`_engine.Engine`, the underlying :class:`.Dialect`,
    as well as the
    :class:`_pool.Pool`.  Specific dialects also accept keyword arguments that
    are unique to that dialect.   Here, we describe the parameters
    that are common to most :func:`_sa.create_engine()` usage.

    Once established, the newly resulting :class:`_engine.Engine` will
    request a connection from the underlying :class:`_pool.Pool` once
    :meth:`_engine.Engine.connect` is called, or a method which depends on it
    such as :meth:`_engine.Engine.execute` is invoked.   The
    :class:`_pool.Pool` in turn
    will establish the first actual DBAPI connection when this request
    is received.   The :func:`_sa.create_engine` call itself does **not**
    establish any actual DBAPI connections directly.

    .. seealso::

        :doc:`/core/engines`

        :doc:`/dialects/index`

        :ref:`connections_toplevel`

    :param connect_args: a dictionary of options which will be
        passed directly to the DBAPI's ``connect()`` method as
        additional keyword arguments.  See the example
        at :ref:`custom_dbapi_args`.

    :param creator: a callable which returns a DBAPI connection.
        This creation function will be passed to the underlying
        connection pool and will be used to create all new database
        connections. Usage of this function causes connection
        parameters specified in the URL argument to be bypassed.

        This hook is not as flexible as the newer
        :meth:`_events.DialectEvents.do_connect` hook which allows complete
        control over how a connection is made to the database, given the full
        set of URL arguments and state beforehand.

        .. seealso::

            :meth:`_events.DialectEvents.do_connect` - event hook that allows
            full control over DBAPI connection mechanics.

            :ref:`custom_dbapi_args`

    :param echo=False: if True, the Engine will log all statements
        as well as a ``repr()`` of their parameter lists to the default log
        handler, which defaults to ``sys.stdout`` for output.   If set to the
        string ``"debug"``, result rows will be printed to the standard output
        as well. The ``echo`` attribute of ``Engine`` can be modified at any
        time to turn logging on and off; direct control of logging is also
        available using the standard Python ``logging`` module.

        .. seealso::

            :ref:`dbengine_logging` - further detail on how to configure
            logging.


    :param echo_pool=False: if True, the connection pool will log
        informational output such as when connections are invalidated
        as well as when connections are recycled to the default log handler,
        which defaults to ``sys.stdout`` for output.   If set to the string
        ``"debug"``, the logging will include pool checkouts and checkins.
        Direct control of logging is also available using the standard Python
        ``logging`` module.

        .. seealso::

            :ref:`dbengine_logging` - further detail on how to configure
            logging.


    :param empty_in_strategy:   No longer used; SQLAlchemy now uses
        "empty set" behavior for IN in all cases.

    :param enable_from_linting: defaults to True.  Will emit a warning
        if a given SELECT statement is found to have un-linked FROM elements
        which would cause a cartesian product.

        .. versionadded:: 1.4

        .. seealso::

            :ref:`change_4737`

    :param execution_options: Dictionary execution options which will
        be applied to all connections.  See
        :meth:`~sqlalchemy.engine.Connection.execution_options`

    :param future: Use the 2.0 style :class:`_engine.Engine` and
        :class:`_engine.Connection` API.

        As of SQLAlchemy 2.0, this parameter is present for backwards
        compatibility only and must remain at its default value of ``True``.

        The :paramref:`_sa.create_engine.future` parameter will be
        deprecated in a subsequent 2.x release and eventually removed.

        .. versionadded:: 1.4

        .. versionchanged:: 2.0 All :class:`_engine.Engine` objects are
           "future" style engines and there is no longer a ``future=False``
           mode of operation.

        .. seealso::

            :ref:`migration_20_toplevel`

    :param hide_parameters: Boolean, when set to True, SQL statement parameters
        will not be displayed in INFO logging nor will they be formatted into
        the string representation of :class:`.StatementError` objects.

        .. versionadded:: 1.3.8

        .. seealso::

            :ref:`dbengine_logging` - further detail on how to configure
            logging.

    :param implicit_returning=True:  Legacy parameter that may only be set
        to True. In SQLAlchemy 2.0, this parameter does nothing. In order to
        disable "implicit returning" for statements invoked by the ORM,
        configure this on a per-table basis using the
        :paramref:`.Table.implicit_returning` parameter.


    :param insertmanyvalues_page_size: number of rows to format into an
     INSERT statement when the statement uses "insertmanyvalues" mode, which is
     a paged form of bulk insert that is used for many backends when using
     :term:`executemany` execution typically in conjunction with RETURNING.
     Defaults to 1000, but may also be subject to dialect-specific limiting
     factors which may override this value on a per-statement basis.

     .. versionadded:: 2.0

     .. seealso::

        :ref:`engine_insertmanyvalues`

        :ref:`engine_insertmanyvalues_page_size`

        :paramref:`_engine.Connection.execution_options.insertmanyvalues_page_size`

    :param isolation_level: optional string name of an isolation level
        which will be set on all new connections unconditionally.
        Isolation levels are typically some subset of the string names
        ``"SERIALIZABLE"``, ``"REPEATABLE READ"``,
        ``"READ COMMITTED"``, ``"READ UNCOMMITTED"`` and ``"AUTOCOMMIT"``
        based on backend.

        The :paramref:`_sa.create_engine.isolation_level` parameter is
        in contrast to the
        :paramref:`.Connection.execution_options.isolation_level`
        execution option, which may be set on an individual
        :class:`.Connection`, as well as the same parameter passed to
        :meth:`.Engine.execution_options`, where it may be used to create
        multiple engines with different isolation levels that share a common
        connection pool and dialect.

        .. versionchanged:: 2.0 The
           :paramref:`_sa.create_engine.isolation_level`
           parameter has been generalized to work on all dialects which support
           the concept of isolation level, and is provided as a more succinct,
           up front configuration switch in contrast to the execution option
           which is more of an ad-hoc programmatic option.

        .. seealso::

            :ref:`dbapi_autocommit`

    :param json_deserializer: for dialects that support the
        :class:`_types.JSON`
        datatype, this is a Python callable that will convert a JSON string
        to a Python object.  By default, the Python ``json.loads`` function is
        used.

        .. versionchanged:: 1.3.7  The SQLite dialect renamed this from
           ``_json_deserializer``.

    :param json_serializer: for dialects that support the :class:`_types.JSON`
        datatype, this is a Python callable that will render a given object
        as JSON.   By default, the Python ``json.dumps`` function is used.

        .. versionchanged:: 1.3.7  The SQLite dialect renamed this from
           ``_json_serializer``.


    :param label_length=None: optional integer value which limits
        the size of dynamically generated column labels to that many
        characters. If less than 6, labels are generated as
        "_(counter)". If ``None``, the value of
        ``dialect.max_identifier_length``, which may be affected via the
        :paramref:`_sa.create_engine.max_identifier_length` parameter,
        is used instead.   The value of
        :paramref:`_sa.create_engine.label_length`
        may not be larger than that of
        :paramref:`_sa.create_engine.max_identfier_length`.

        .. seealso::

            :paramref:`_sa.create_engine.max_identifier_length`

    :param logging_name:  String identifier which will be used within
        the "name" field of logging records generated within the
        "sqlalchemy.engine" logger. Defaults to a hexstring of the
        object's id.

        .. seealso::

            :ref:`dbengine_logging` - further detail on how to configure
            logging.

            :paramref:`_engine.Connection.execution_options.logging_token`

    :param max_identifier_length: integer; override the max_identifier_length
        determined by the dialect.  if ``None`` or zero, has no effect.  This
        is the database's configured maximum number of characters that may be
        used in a SQL identifier such as a table name, column name, or label
        name. All dialects determine this value automatically, however in the
        case of a new database version for which this value has changed but
        SQLAlchemy's dialect has not been adjusted, the value may be passed
        here.

        .. versionadded:: 1.3.9

        .. seealso::

            :paramref:`_sa.create_engine.label_length`

    :param max_overflow=10: the number of connections to allow in
        connection pool "overflow", that is connections that can be
        opened above and beyond the pool_size setting, which defaults
        to five. this is only used with :class:`~sqlalchemy.pool.QueuePool`.

    :param module=None: reference to a Python module object (the module
        itself, not its string name).  Specifies an alternate DBAPI module to
        be used by the engine's dialect.  Each sub-dialect references a
        specific DBAPI which will be imported before first connect.  This
        parameter causes the import to be bypassed, and the given module to
        be used instead. Can be used for testing of DBAPIs as well as to
        inject "mock" DBAPI implementations into the :class:`_engine.Engine`.

    :param paramstyle=None: The `paramstyle <https://legacy.python.org/dev/peps/pep-0249/#paramstyle>`_
        to use when rendering bound parameters.  This style defaults to the
        one recommended by the DBAPI itself, which is retrieved from the
        ``.paramstyle`` attribute of the DBAPI.  However, most DBAPIs accept
        more than one paramstyle, and in particular it may be desirable
        to change a "named" paramstyle into a "positional" one, or vice versa.
        When this attribute is passed, it should be one of the values
        ``"qmark"``, ``"numeric"``, ``"named"``, ``"format"`` or
        ``"pyformat"``, and should correspond to a parameter style known
        to be supported by the DBAPI in use.

    :param pool=None: an already-constructed instance of
        :class:`~sqlalchemy.pool.Pool`, such as a
        :class:`~sqlalchemy.pool.QueuePool` instance. If non-None, this
        pool will be used directly as the underlying connection pool
        for the engine, bypassing whatever connection parameters are
        present in the URL argument. For information on constructing
        connection pools manually, see :ref:`pooling_toplevel`.

    :param poolclass=None: a :class:`~sqlalchemy.pool.Pool`
        subclass, which will be used to create a connection pool
        instance using the connection parameters given in the URL. Note
        this differs from ``pool`` in that you don't actually
        instantiate the pool in this case, you just indicate what type
        of pool to be used.

    :param pool_logging_name:  String identifier which will be used within
       the "name" field of logging records generated within the
       "sqlalchemy.pool" logger. Defaults to a hexstring of the object's
       id.

       .. seealso::

            :ref:`dbengine_logging` - further detail on how to configure
            logging.

    :param pool_pre_ping: boolean, if True will enable the connection pool
        "pre-ping" feature that tests connections for liveness upon
        each checkout.

        .. versionadded:: 1.2

        .. seealso::

            :ref:`pool_disconnects_pessimistic`

    :param pool_size=5: the number of connections to keep open
        inside the connection pool. This used with
        :class:`~sqlalchemy.pool.QueuePool` as
        well as :class:`~sqlalchemy.pool.SingletonThreadPool`.  With
        :class:`~sqlalchemy.pool.QueuePool`, a ``pool_size`` setting
        of 0 indicates no limit; to disable pooling, set ``poolclass`` to
        :class:`~sqlalchemy.pool.NullPool` instead.

    :param pool_recycle=-1: this setting causes the pool to recycle
        connections after the given number of seconds has passed. It
        defaults to -1, or no timeout. For example, setting to 3600
        means connections will be recycled after one hour. Note that
        MySQL in particular will disconnect automatically if no
        activity is detected on a connection for eight hours (although
        this is configurable with the MySQLDB connection itself and the
        server configuration as well).

        .. seealso::

            :ref:`pool_setting_recycle`

    :param pool_reset_on_return='rollback': set the
        :paramref:`_pool.Pool.reset_on_return` parameter of the underlying
        :class:`_pool.Pool` object, which can be set to the values
        ``"rollback"``, ``"commit"``, or ``None``.

        .. seealso::

            :ref:`pool_reset_on_return`

    :param pool_timeout=30: number of seconds to wait before giving
        up on getting a connection from the pool. This is only used
        with :class:`~sqlalchemy.pool.QueuePool`. This can be a float but is
        subject to the limitations of Python time functions which may not be
        reliable in the tens of milliseconds.

        .. note: don't use 30.0 above, it seems to break with the :param tag

    :param pool_use_lifo=False: use LIFO (last-in-first-out) when retrieving
        connections from :class:`.QueuePool` instead of FIFO
        (first-in-first-out). Using LIFO, a server-side timeout scheme can
        reduce the number of connections used during non- peak   periods of
        use.   When planning for server-side timeouts, ensure that a recycle or
        pre-ping strategy is in use to gracefully   handle stale connections.

          .. versionadded:: 1.3

          .. seealso::

            :ref:`pool_use_lifo`

            :ref:`pool_disconnects`

    :param plugins: string list of plugin names to load.  See
        :class:`.CreateEnginePlugin` for background.

        .. versionadded:: 1.2.3

    :param query_cache_size: size of the cache used to cache the SQL string
     form of queries.  Set to zero to disable caching.

     The cache is pruned of its least recently used items when its size reaches
     N * 1.5.  Defaults to 500, meaning the cache will always store at least
     500 SQL statements when filled, and will grow up to 750 items at which
     point it is pruned back down to 500 by removing the 250 least recently
     used items.

     Caching is accomplished on a per-statement basis by generating a
     cache key that represents the statement's structure, then generating
     string SQL for the current dialect only if that key is not present
     in the cache.   All statements support caching, however some features
     such as an INSERT with a large set of parameters will intentionally
     bypass the cache.   SQL logging will indicate statistics for each
     statement whether or not it were pull from the cache.

     .. note:: some ORM functions related to unit-of-work persistence as well
        as some attribute loading strategies will make use of individual
        per-mapper caches outside of the main cache.


     .. seealso::

        :ref:`sql_caching`

     .. versionadded:: 1.4

    :param use_insertmanyvalues: True by default, use the "insertmanyvalues"
     execution style for INSERT..RETURNING statements by default.

     .. versionadded:: 2.0

     .. seealso::

        :ref:`engine_insertmanyvalues`

In [219]:
import sqlalchemy as sa

server = 'DESKTOP-U5TCCAN\\ACAP'       # Use double backslash for named instance
database = 'WalmartDB'
driver = 'ODBC Driver 17 for SQL Server'

# Construct connection string
connection_string = (
    f"mssql+pyodbc://{server}/{database}"
    f"?driver={driver.replace(' ', '+')}&Trusted_Connection=yes"
)

# Create SQLAlchemy engine
engine = sa.create_engine(connection_string, echo=True)

In [ ]:

from sqlalchemy import event

# Upload DataFrame to SQL Server
df.to_sql(name='walmart', con=engine, if_exists='append', index=False)

2025-05-14 13:40:04,561 INFO sqlalchemy.engine.Engine SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
2025-05-14 13:40:04,675 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-14 13:40:05,008 INFO sqlalchemy.engine.Engine SELECT schema_name()
2025-05-14 13:40:05,010 INFO sqlalchemy.engine.Engine [generated in 0.02317s] ()
2025-05-14 13:40:05,127 INFO sqlalchemy.engine.Engine SELECT CAST('test max support' AS NVARCHAR(max))
2025-05-14 13:40:05,129 INFO sqlalchemy.engine.Engine [generated in 0.00195s] ()
2025-05-14 13:40:05,139 INFO sqlalchemy.engine.Engine SELECT 1 FROM fn_listextendedproperty(default, default, default, default, default, default, default)
2025-05-14 13:40:05,140 INFO sqlalchemy.engine.Engine [generated in 0.00182s] ()
2025-05-14 13:40:05,644 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-14 13:40:06,043 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE ([INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) OR [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max))) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2025-05-14 13:40:06,044 INFO sqlalchemy.engine.Engine [generated in 0.00127s] ('BASE TABLE', 'VIEW', 'walmart', 'dbo')
2025-05-14 13:40:06,199 INFO sqlalchemy.engine.Engine
CREATE TABLE walmart (
	invoice_id BIGINT NULL,
	[Branch] VARCHAR(max) NULL,
	[City] VARCHAR(max) NULL,
	category VARCHAR(max) NULL,
	unit_price FLOAT(53) NULL,
	quantity FLOAT(53) NULL,
	date VARCHAR(max) NULL,
	time VARCHAR(max) NULL,
	payment_method VARCHAR(max) NULL,
	rating FLOAT(53) NULL,
	profit_margin FLOAT(53) NULL,
	total FLOAT(53) NULL
)


2025-05-14 13:40:06,224 INFO sqlalchemy.engine.Engine [no key 0.00097s] ()
2025-05-14 13:40:06,710 INFO sqlalchemy.engine.Engine INSERT INTO walmart (invoice_id, [Branch], [City], category, unit_price, quantity, date, time, payment_method, rating, profit_margin, total) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ? ... 6408 characters truncated ...  ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-05-14 13:40:06,711 INFO sqlalchemy.engine.Engine [generated in 0.09014s (insertmanyvalues) 1/58 (unordered)] (1, 'WALM003', 'San Antonio', 'Health and beauty', 74.69, 7.0, '05/01/19', '13:08:00', 'Ewallet', 9.1, 0.48, 522.8299999999999, 2, 'WALM048', 'Harlingen', 'Electronic accessories', 15.28, 5.0, '08/03/19', '10:29:00', 'Cash', 9.6, 0.48, 76.39999999999999, 3, 'WALM067', 'Haltom City', 'Home and lifestyle', 46.33, 7.0, '03/03/19', '13:23:00', 'Credit card', 7.4, 0.33, 324.31, 4, 'WALM064', 'Bedford', 'Health and beauty', 58.22, 8.0, '27/01/19', '20:33:00', 'Ewallet', 8.4, 0.33, 465.76, 5, 'WALM013' ... 1988 parameters truncated ... 0.33, 486.64, 171, 'WALM031', 'Lewisville', 'Health and beauty', 70.01, 5.0, '03/01/19', '11:36:00', 'Ewallet', 5.5, 0.48, 350.05, 172, 'WALM039', 'Longview', 'Food and beverages', 80.05, 5.0, '26/01/19', '12:45:00', 'Credit card', 9.4, 0.48, 400.25, 173, 'WALM039', 'Longview', 'Electronic accessories', 20.85, 8.0, '03/03/19', '19:17:00', 'Cash', 6.3, 0.48, 166.8, 174, 'WALM047', 'Flower Mound', 'Electronic accessories', 52.89, 6.0, '19/01/19', '17:34:00', 'Credit card', 9.8, 0.48, 317.34000000000003)
2025-05-14 13:40:06,884 INFO sqlalchemy.engine.Engine INSERT INTO walmart (invoice_id, [Branch], [City], category, unit_price, quantity, date, time, payment_method, rating, profit_margin, total) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ? ... 6408 characters truncated ...  ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-05-14 13:40:06,885 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/58 (unordered)] (175, 'WALM071', 'Lufkin', 'Food and beverages', 19.79, 8.0, '18/01/19', '12:04:00', 'Ewallet', 8.7, 0.33, 158.32, 176, 'WALM060', 'DeSoto', 'Home and lifestyle', 33.84, 9.0, '21/03/19', '16:21:00', 'Ewallet', 8.8, 0.33, 304.56000000000006, 177, 'WALM073', 'Seguin', 'Food and beverages', 22.17, 8.0, '03/03/19', '17:01:00', 'Credit card', 9.6, 0.33, 177.36, 178, 'WALM059', 'Pflugerville', 'Fashion accessories', 22.51, 7.0, '13/02/19', '10:50:00', 'Credit card', 4.8, 0.33, 157.57000000000002, 179, 'WALM012' ... 1988 parameters truncated ... 0.48, 485.15, 345, 'WALM007', 'Arlington', 'Sports and travel', 44.65, 3.0, '14/02/19', '15:04:00', 'Cash', 6.2, 0.48, 133.95, 346, 'WALM057', 'Euless', 'Fashion accessories', 77.93, 9.0, '27/02/19', '16:10:00', 'Ewallet', 7.6, 0.33, 701.3700000000001, 347, 'WALM096', 'Eagle Pass', 'Electronic accessories', 71.95, 1.0, '04/02/19', '12:14:00', 'Cash', 7.3, 0.18, 71.95, 348, 'WALM066', 'Grapevine', 'Home and lifestyle', 89.25, 8.0, '20/01/19', '10:13:00', 'Cash', 4.7, 0.33, 714.0)
2025-05-14 13:40:06,891 INFO sqlalchemy.engine.Engine INSERT INTO walmart (invoice_id, [Branch], [City], category, unit_price, quantity, date, time, payment_method, rating, profit_margin, total) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ? ... 6408 characters truncated ...  ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-05-14 13:40:06,892 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/58 (unordered)] (349, 'WALM095', 'Big Spring', 'Electronic accessories', 26.02, 7.0, '28/03/19', '17:38:00', 'Cash', 5.1, 0.33, 182.14, 350, 'WALM087', 'Waxahachie', 'Health and beauty', 13.5, 10.0, '27/02/19', '11:06:00', 'Credit card', 4.8, 0.33, 135.0, 351, 'WALM017', 'McKinney', 'Fashion accessories', 99.3, 10.0, '15/02/19', '14:53:00', 'Credit card', 6.6, 0.48, 993.0, 352, 'WALM029', 'Round Rock', 'Electronic accessories', 51.69, 7.0, '26/01/19', '18:22:00', 'Cash', 5.5, 0.48, 361.83, 353, 'WALM098' ... 1988 parameters truncated ... 0.33, 196.95, 519, 'WALM008', 'Corpus Christi', 'Home and lifestyle', 34.73, 2.0, '01/03/19', '18:14:00', 'Ewallet', 9.7, 0.48, 69.46, 520, 'WALM033', 'Pearland', 'Sports and travel', 71.92, 5.0, '17/01/19', '15:05:00', 'Credit card', 4.3, 0.48, 359.6, 521, 'WALM059', 'Pflugerville', 'Electronic accessories', 45.71, 3.0, '26/03/19', '10:34:00', 'Credit card', 7.7, 0.33, 137.13, 522, 'WALM097', 'Alice', 'Home and lifestyle', 83.17, 6.0, '20/03/19', '11:23:00', 'Cash', 7.3, 0.18, 499.02)
2025-05-14 13:40:06,898 INFO sqlalchemy.engine.Engine INSERT INTO walmart (invoice_id, [Branch], [City], category, unit_price, quantity, date, time, payment_method, rating, profit_margin, total) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ? ... 6408 characters truncated ...  ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-05-14 13:40:06,899 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/58 (unordered)] (523, 'WALM035', 'San Angelo', 'Home and lifestyle', 37.44, 6.0, '06/02/19', '13:55:00', 'Credit card', 5.9, 0.48, 224.64, 524, 'WALM075', 'San Marcos', 'Health and beauty', 62.87, 2.0, '01/01/19', '11:43:00', 'Cash', 5.0, 0.33, 125.74, 525, 'WALM075', 'San Marcos', 'Food and beverages', 81.71, 6.0, '27/01/19', '14:36:00', 'Credit card', 8.0, 0.33, 490.26, 526, 'WALM074', 'Weslaco', 'Sports and travel', 91.41, 5.0, '25/02/19', '16:03:00', 'Cash', 7.1, 0.33, 457.04999999999995, 527, 'WALM095' ... 1988 parameters truncated ... 0.33, 385.28, 693, 'WALM022', 'Mesquite', 'Health and beauty', 48.63, 10.0, '04/03/19', '12:44:00', 'Cash', 8.8, 0.48, 486.3, 694, 'WALM012', 'Garland', 'Fashion accessories', 73.38, 7.0, '10/02/19', '13:56:00', 'Cash', 9.5, 0.48, 513.66, 695, 'WALM009', 'Plano', 'Food and beverages', 52.6, 9.0, '16/01/19', '14:42:00', 'Cash', 7.6, 0.48, 473.40000000000003, 696, 'WALM052', 'Mansfield', 'Home and lifestyle', 87.37, 5.0, '29/01/19', '19:45:00', 'Cash', 6.6, 0.57, 436.85)
2025-05-14 13:40:06,905 INFO sqlalchemy.engine.Engine INSERT INTO walmart (invoice_id, [Branch], [City], category, unit_price, quantity, date, time, payment_method, rating, profit_margin, total) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ? ... 6408 characters truncated ...  ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-05-14 13:40:06,907 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/58 (unordered)] (697, 'WALM040', 'Edinburg', 'Sports and travel', 27.04, 4.0, '01/01/19', '20:26:00', 'Ewallet', 6.9, 0.48, 108.16, 698, 'WALM079', 'La Porte', 'Home and lifestyle', 62.19, 4.0, '06/01/19', '19:46:00', 'Ewallet', 4.3, 0.33, 248.76, 699, 'WALM088', 'Cleburne', 'Electronic accessories', 69.58, 9.0, '19/02/19', '19:38:00', 'Credit card', 7.8, 0.33, 626.22, 700, 'WALM066', 'Grapevine', 'Home and lifestyle', 97.5, 10.0, '12/01/19', '16:18:00', 'Ewallet', 8.0, 0.33, 975.0, 701, 'WALM061' ... 1988 parameters truncated ... 0.33, 101.43, 867, 'WALM085', 'Kerrville', 'Sports and travel', 90.53, 8.0, '15/03/19', '14:48:00', 'Credit card', 6.5, 0.33, 724.24, 868, 'WALM053', 'Conroe', 'Health and beauty', 62.82, 2.0, '17/01/19', '12:36:00', 'Ewallet', 4.9, 0.57, 125.64, 869, 'WALM051', 'New Braunfels', 'Food and beverages', 24.31, 3.0, '08/01/19', '19:09:00', 'Credit card', 4.3, 0.48, 72.92999999999999, 870, 'WALM035', 'San Angelo', 'Sports and travel', 64.59, 4.0, '06/01/19', '13:35:00', 'Ewallet', 9.3, 0.48, 258.36)
2025-05-14 13:40:06,913 INFO sqlalchemy.engine.Engine INSERT INTO walmart (invoice_id, [Branch], [City], category, unit_price, quantity, date, time, payment_method, rating, profit_margin, total) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ? ... 6408 characters truncated ...  ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-05-14 13:40:06,914 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/58 (unordered)] (871, 'WALM074', 'Weslaco', 'Food and beverages', 24.82, 7.0, '16/02/19', '10:33:00', 'Cash', 7.1, 0.33, 173.74, 872, 'WALM091', 'Little Elm', 'Fashion accessories', 56.5, 1.0, '13/03/19', '15:45:00', 'Ewallet', 9.6, 0.33, 56.5, 873, 'WALM005', 'Fort Worth', 'Electronic accessories', 21.43, 10.0, '28/01/19', '11:51:00', 'Cash', 6.2, 0.48, 214.3, 874, 'WALM059', 'Pflugerville', 'Sports and travel', 89.06, 6.0, '18/01/19', '17:26:00', 'Cash', 9.9, 0.33, 534.36, 875, 'WALM046' ... 1988 parameters truncated ... 0.48, 170.0, 1041, 'WALM014', 'Amarillo', 'Home and lifestyle', 29.0, 1.0, '16/01/21', '22:05:00', 'Ewallet', 4.0, 0.48, 29.0, 1042, 'WALM082', 'Weslaco', 'Fashion accessories', 75.0, 2.0, '09/07/22', '14:35:00', 'Cash', 5.0, 0.33, 150.0, 1043, 'WALM051', 'New Braunfels', 'Home and lifestyle', 79.0, 3.0, '31/05/22', '21:01:00', 'Ewallet', 9.0, 0.48, 237.0, 1044, 'WALM083', 'Farmers Branch', 'Fashion accessories', 59.0, 2.0, '28/11/23', '8:24:00', 'Ewallet', 5.0, 0.33, 118.0)
2025-05-14 13:40:06,936 INFO sqlalchemy.engine.Engine INSERT INTO walmart (invoice_id, [Branch], [City], category, unit_price, quantity, date, time, payment_method, rating, profit_margin, total) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ? ... 6408 characters truncated ...  ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-05-14 13:40:06,937 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/58 (unordered)] (1045, 'WALM024', 'Carrollton', 'Home and lifestyle', 39.0, 1.0, '19/04/21', '19:11:00', 'Ewallet', 5.0, 0.48, 39.0, 1046, 'WALM095', 'Big Spring', 'Fashion accessories', 28.0, 2.0, '06/07/23', '13:53:00', 'Ewallet', 7.0, 0.33, 56.0, 1047, 'WALM090', 'Brownwood', 'Home and lifestyle', 55.0, 1.0, '30/01/23', '20:20:00', 'Ewallet', 5.0, 0.33, 55.0, 1048, 'WALM079', 'La Porte', 'Fashion accessories', 43.0, 2.0, '28/09/22', '11:11:00', 'Ewallet', 7.0, 0.33, 86.0, 1049, 'WALM074' ... 1988 parameters truncated ... 0.48, 144.0, 1215, 'WALM001', 'Houston', 'Home and lifestyle', 58.0, 1.0, '25/07/22', '20:22:00', 'Ewallet', 4.0, 0.36, 58.0, 1216, 'WALM063', 'Georgetown', 'Fashion accessories', 59.0, 1.0, '04/10/20', '16:55:00', 'Ewallet', 5.0, 0.33, 59.0, 1217, 'WALM037', 'League City', 'Home and lifestyle', 45.0, 1.0, '04/06/20', '10:50:00', 'Ewallet', 7.0, 0.48, 45.0, 1218, 'WALM088', 'Cleburne', 'Fashion accessories', 34.0, 3.0, '21/01/21', '17:45:00', 'Ewallet', 4.0, 0.33, 102.0)
2025-05-14 13:40:06,944 INFO sqlalchemy.engine.Engine INSERT INTO walmart (invoice_id, [Branch], [City], category, unit_price, quantity, date, time, payment_method, rating, profit_margin, total) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ? ... 6408 characters truncated ...  ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-05-14 13:40:06,945 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/58 (unordered)] (1219, 'WALM049', 'North Richland Hills', 'Home and lifestyle', 30.0, 1.0, '27/12/21', '20:36:00', 'Ewallet', 4.0, 0.48, 30.0, 1220, 'WALM036', 'Allen', 'Fashion accessories', 18.0, 2.0, '09/03/22', '15:35:00', 'Ewallet', 9.0, 0.48, 36.0, 1221, 'WALM066', 'Grapevine', 'Home and lifestyle', 65.0, 1.0, '28/10/23', '9:33:00', 'Ewallet', 4.0, 0.33, 65.0, 1222, 'WALM070', 'Hurst', 'Fashion accessories', 30.0, 2.0, '06/07/23', '14:00:00', 'Ewallet', 9.0, 0.33, 60.0, 1223, 'WALM088' ... 1988 parameters truncated ... 0.33, 44.0, 1389, 'WALM083', 'Farmers Branch', 'Home and lifestyle', 25.0, 3.0, '03/06/22', '12:24:00', 'Ewallet', 4.0, 0.33, 75.0, 1390, 'WALM007', 'Arlington', 'Fashion accessories', 76.0, 2.0, '11/02/22', '15:43:00', 'Ewallet', 8.0, 0.48, 152.0, 1391, 'WALM034', 'College Station', 'Home and lifestyle', 35.0, 3.0, '14/02/22', '7:07:00', 'Ewallet', 6.0, 0.48, 105.0, 1392, 'WALM023', 'Midland', 'Fashion accessories', 16.0, 3.0, '06/05/20', '16:05:00', 'Ewallet', 8.0, 0.48, 48.0)
2025-05-14 13:40:06,953 INFO sqlalchemy.engine.Engine INSERT INTO walmart (invoice_id, [Branch], [City], category, unit_price, quantity, date, time, payment_method, rating, profit_margin, total) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ? ... 6408 characters truncated ...  ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-05-14 13:40:06,954 INFO sqlalchemy.engine.Engine [insertmanyvalues 9/58 (unordered)] (1393, 'WALM008', 'Corpus Christi', 'Home and lifestyle', 71.0, 1.0, '12/02/22', '6:19:00', 'Ewallet', 6.0, 0.48, 71.0, 1394, 'WALM098', 'Mineral Wells', 'Fashion accessories', 80.0, 3.0, '04/11/23', '17:34:00', 'Ewallet', 6.0, 0.18, 240.0, 1395, 'WALM009', 'Plano', 'Home and lifestyle', 71.0, 3.0, '01/08/20', '14:54:00', 'Ewallet', 9.0, 0.48, 213.0, 1396, 'WALM072', 'Lancaster', 'Fashion accessories', 50.0, 3.0, '15/11/20', '14:47:00', 'Ewallet', 4.0, 0.33, 150.0, 1397, 'WALM059' ... 1988 parameters truncated ... 0.33, 159.0, 1563, 'WALM085', 'Kerrville', 'Home and lifestyle', 23.0, 2.0, '16/01/21', '19:04:00', 'Ewallet', 4.0, 0.33, 46.0, 1564, 'WALM048', 'Harlingen', 'Fashion accessories', 81.0, 1.0, '27/08/20', '7:08:00', 'Ewallet', 7.0, 0.48, 81.0, 1565, 'WALM033', 'Pearland', 'Home and lifestyle', 47.0, 3.0, '09/08/21', '17:46:00', 'Ewallet', 8.0, 0.48, 141.0, 1566, 'WALM046', 'Temple', 'Fashion accessories', 76.0, 2.0, '11/09/23', '12:23:00', 'Ewallet', 9.0, 0.48, 152.0)
2025-05-14 13:40:06,961 INFO sqlalchemy.engine.Engine INSERT INTO walmart (invoice_id, [Branch], [City], category, unit_price, quantity, date, time, payment_method, rating, profit_margin, total) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ? ... 6408 characters truncated ...  ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-05-14 13:40:06,962 INFO sqlalchemy.engine.Engine [insertmanyvalues 10/58 (unordered)] (1567, 'WALM072', 'Lancaster', 'Home and lifestyle', 25.0, 1.0, '30/01/20', '14:48:00', 'Ewallet', 4.0, 0.33, 25.0, 1568, 'WALM044', 'Pharr', 'Fashion accessories', 67.0, 2.0, '16/05/23', '17:59:00', 'Ewallet', 4.0, 0.48, 134.0, 1569, 'WALM052', 'Mansfield', 'Home and lifestyle', 25.0, 1.0, '28/06/21', '13:17:00', 'Ewallet', 9.0, 0.57, 25.0, 1570, 'WALM047', 'Flower Mound', 'Fashion accessories', 66.0, 1.0, '01/12/22', '6:12:00', 'Ewallet', 8.0, 0.48, 66.0, 1571, 'WALM039' ... 1988 parameters truncated ... 0.36, 54.0, 1737, 'WALM071', 'Lufkin', 'Home and lifestyle', 20.0, 3.0, '23/05/20', '15:22:00', 'Ewallet', 4.0, 0.33, 60.0, 1738, 'WALM077', 'Coppell', 'Fashion accessories', 43.0, 3.0, '27/11/20', '6:05:00', 'Ewallet', 6.0, 0.33, 129.0, 1739, 'WALM071', 'Lufkin', 'Home and lifestyle', 54.0, 1.0, '10/10/22', '22:03:00', 'Ewallet', 7.0, 0.33, 54.0, 1740, 'WALM093', 'Angleton', 'Fashion accessories', 51.0, 3.0, '09/10/22', '18:02:00', 'Ewallet', 7.0, 0.33, 153.0)
2025-05-14 13:40:06,970 INFO sqlalchemy.engine.Engine INSERT INTO walmart (invoice_id, [Branch], [City], category, unit_price, quantity, date, time, payment_method, rating, profit_margin, total) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ? ... 6408 characters truncated ...  ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-05-14 13:40:06,971 INFO sqlalchemy.engine.Engine [insertmanyvalues 11/58 (unordered)] (1741, 'WALM005', 'Fort Worth', 'Home and lifestyle', 45.0, 3.0, '11/08/21', '9:06:00', 'Ewallet', 9.0, 0.48, 135.0, 1742, 'WALM019', 'Pasadena', 'Fashion accessories', 40.0, 1.0, '19/01/23', '12:07:00', 'Ewallet', 6.0, 0.48, 40.0, 1743, 'WALM083', 'Farmers Branch', 'Home and lifestyle', 29.0, 2.0, '05/01/23', '16:14:00', 'Ewallet', 8.0, 0.33, 58.0, 1744, 'WALM092', 'Lake Jackson', 'Fashion accessories', 63.0, 2.0, '09/12/21', '14:20:00', 'Ewallet', 7.0, 0.33, 126.0, 1745, 'WALM015' ... 1988 parameters truncated ... 0.33, 222.0, 1942, 'WALM005', 'Fort Worth', 'Fashion accessories', 45.0, 1.0, '20/07/20', '19:40:00', 'Ewallet', 6.0, 0.48, 45.0, 1943, 'WALM030', 'Richardson', 'Home and lifestyle', 72.0, 1.0, '25/01/23', '21:14:00', 'Ewallet', 7.0, 0.48, 72.0, 1944, 'WALM012', 'Garland', 'Fashion accessories', 65.0, 3.0, '09/07/20', '21:01:00', 'Ewallet', 6.0, 0.48, 195.0, 1945, 'WALM057', 'Euless', 'Home and lifestyle', 34.0, 1.0, '30/07/21', '8:25:00', 'Ewallet', 6.0, 0.33, 34.0)
2025-05-14 13:40:06,977 INFO sqlalchemy.engine.Engine INSERT INTO walmart (invoice_id, [Branch], [City], category, unit_price, quantity, date, time, payment_method, rating, profit_margin, total) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ? ... 6408 characters truncated ...  ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

51